<!DOCTYPE html>
<html lang="en">

<head>
  <title>Music Classifier</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <style>
    html,
    body {
      padding: 0;
      margin: 0;
    }

    #searchApp {
      text-align: left;
    }

    #overlay {
      display: none;
      text-align: left;
      position: absolute;

      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5) url({{ url_for('static',filename='pacman.svg')}}) center center no-repeat;
    /*  */
    }

    h2 {
      text-align: center;
      color: white;
    }
  </style>
</head>

<body>
  <div id="overlay">
    <h2>Please be patient...</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-lg-10">
        <div id="searchApp">
          <div class="container">
            <form class="form-wrapper cf" onsubmit="return false">
              <input type="text" placeholder="Search here..." v-on:keyup.enter="searchSong" v-model="query" placeholder="Search a Song"
                id="search" name="search" required>
              <button v-on:click="searchSong">Search</button>
            </form>
          </div>
          <div id="resultCont">
            <!-- <h3 v-if="Object.keys(features).length">Features</h3> -->
            <table class="table">
              <thead v-if="Object.keys(features).length">
                <th>Features</th>
                <th>Values</th>
              </thead>
              <tbody>
                <tr v-for="(val, key) in features">
                  <td>
                    [[key]]
                  </td>
                  <td>
                    [[val]]
                  </td>
                </tr>
              </tbody>
              <!-- <p v-for="(val, key) in features">
                <strong>[[key]]</strong> : [[val]]
              </p> -->
            </table class="table">
            <h3 v-if="lyrics">Lyrics</h3>
            <p>
              [[lyrics]]
            </p>
            <table class="table">
              <thead v-if="Object.keys(preds).length">
                <th>Classifier</th>
                <th>Result</th>
              </thead>
            <tbody>
              <tr v-for="(val,key) in preds">
                <td>
                  [[key]]
                </td>
                <td>
                  [[val]]
                </td>
              </tr>
            </tbody>
            </table class="table">
          </div>
          <pre id="results" ref="results">
    
            </pre>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>

  <div id="app">
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {

      },
      delimiters: ['[[', ']]']
    });
    var searchApp = new Vue({
      el: '#searchApp',
      data: {
        query: "",
        features: {},
        lyrics: "",
        preds: {},
      },
      methods: {
        searchSong: function (evt) {
          document.getElementById("overlay").style.display = "initial";
          var xhr = new XMLHttpRequest();
          var self = this;
          self.features = [];
          self.lyrics = "";
          self.preds = {};
          xhr.open("POST", "/songdata", true);
          xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

          xhr.onreadystatechange = function () {
            document.getElementById("overlay").style.display = "none";
            if (this.readyState === XMLHttpRequest.DONE && this.status ===
              200) {
              var data = JSON.parse(xhr.responseText);

              if (data["error"] !== undefined) {
                document.getElementById("results").innerHTML = "Error!"
                return;
              }
              self.features = data["features"];
              self.lyrics = data["lyrics"];
              self.preds = data["predictions"];
            }
          }
          xhr.send("q=" + this.query);

        }
      },
      delimiters: ['[[', ']]']
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>